<!DOCTYPE html>
<html lang="pt-br">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../static/bootstrap/css/bootstrap.css">
    <link rel="stylesheet" href="../static/style.css">
    <link rel="icon" type='image/png' href="../static/img/asset-15.png">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.5.0/font/bootstrap-icons.css">
    <title>Thi Code</title>
</head>

<body>

    <i class="bi bi-list menu-mobile"></i>

    <aside id='header'>
        <section class="profile">
            <img src="../static/img/perfil.jpg" alt="Foto do Thiago">
            <h1>Thiago Lima</h1>
            <div class="social-links mt-4 text-center">
                <a target="_blank" href="https://www.linkedin.com/in/thicode/">
                    <i class="bi bi-linkedin"></i>
                </a>
                <a target="_blank" href="https://github.com/codethi">
                    <i class="bi bi-github"></i>
                </a>
                <a target="_blank" href="https://www.youtube.com/channel/UCnATHGHftSGHbhn6uF8dEUA">
                    <i class="bi bi-youtube"></i>
                </a>
                <a target="_blank" href="https://www.instagram.com/thi.code/">
                    <i class="bi bi-instagram"></i>
                </a>
            </div>
        </section>

        <nav id='navbar' class="nav-menu">
            <ul class="nav flex-column">
                <li class="nav-item">
                    <a class="nav-link active" aria-current="page" href="#inicio"><i class="bi bi-house"
                            aria-hidden="true"></i> Inicio</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#sobre"><i class="bi bi-person" aria-hidden="true"></i> Sobre</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#habilidades"><i class="bi bi-list-check" aria-hidden="true"></i>
                        Habilidades</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#curriculo"><i class="bi bi-file-earmark" aria-hidden="true"></i>
                        Currículo</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#portfolio"><i class="bi bi-collection" aria-hidden="true"></i>
                        Portfólio</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#contato"><i class="bi bi-envelope" aria-hidden="true"></i> Contato</a>
                </li>
            </ul>
        </nav>
    </aside>

    <main id="main">

        <section id="inicio" class="row m-0 p-0">
            <div class="col-md-5 d-flex justify-content-center align-items-center flex-column">
                <h2 class="text-white text-shadow">Thiago Lima</h2>
                <span id="subtitle" class="text-white text-shadow">Coordenador, Professor e Youtuber</span>
            </div>

            <div class="col-md-7 d-flex justify-content-end align-items-end">
                <div id="arraste" class="d-flex align-items-center">
                    <i class="bi bi-arrow-down text-white pe-2 fs-2" aria-hidden="true"></i>
                    <a href="#sobre">Arrate para mais</a>
                </div>

            </div>

        </section>

        <section class="container mt-5" id='sobre'>
            <div class="row w-100">
                <div class="col-md-12" data-anime="down">
                    <h2 class='pt-3'>Sobre</h2>
                    <p>Eu acredito no poder da educação como um agente transformador de
                        realidades, isso porque eu tive a oportunidade de me formar no curso superior de sistemas de
                        informação, isso
                        mudou a minha realidade social e econômica, me gerando recursos para estudar ainda mais. A
                        partir
                        disso fui encorajado a iniciar minha carreira de docente, e por isso realizei uma
                        pós-graduação em
                        Docência em Tecnologia e Ciências da Informação. Leciono a mais de 5 anos ensinando mais de
                        500
                        alunos, desenvolvimento web fullstack em diversas linguagens. Amo o que faço, essa é minha
                        vocação,
                        ser professor, influenciar e motivar pessoas!</p>
                </div>
            </div>

            <div class="row mt-4">
                <div class="col-md-4">
                    <img class="img-fluid shadow" src="../static/img/perfil.jpg" alt="Foto do Thiago" data-anime="left">
                </div>
                <div class="col-md-8" data-anime="right">
                    <h3>Coordenador de Curso</h3>
                    <p>Atualmente coordeno e leciono desenvolvimento web fullstack na BlueEdtech, trabalhando
                        principalmente
                        com JavaScript no front-end e no back-end, utilizando bancos de dados SQL e noSQL.</p>

                    <div class="row mt-3 mb-3">
                        <div class="col-md-6">
                            <ul class="list-group list-group-flush fs-5">
                                <li class="list-group-item">
                                    Niver: <span class="fw-lighter">16 de Março de
                                        1994</span>
                                </li>
                                <li class="list-group-item">
                                    Idade: <span class="fw-lighter">27 anos</span>
                                </li>
                                <li class="list-group-item">
                                    Cidade: <span class="fw-lighter">São Bernardo do
                                        Campo</span>
                                </li>
                                <li class="list-group-item">
                                    Estado: <span class="fw-lighter">São Paulo</span>
                                </li>

                            </ul>
                        </div>
                        <div class="col-md-6">
                            <ul class="list-group list-group-flush fs-5">
                                <li class="list-group-item">Hobby: <span class="fw-lighter">Futvolei</span></li>
                                <li class="list-group-item">Site: <a href="https://thicode.netlify.app/" target="_blank"
                                        class="fw-lighter text-decoration-none link-dark">links.thicode</a></li>
                                <li class="list-group-item">Trabalho: <a href="https://blueedtech.com.br/"
                                        target="_blank" class="fw-lighter text-decoration-none link-dark">Blue
                                        EdTech</a></li>
                                <li class="list-group-item">Experiência: <span class="fw-lighter"> +10
                                        anos</span></li>

                            </ul>
                        </div>
                    </div>

                    <p>Além de coordenar e lecionar desenvolvimento web fullstack, eu também compartilho conteúdo
                        gratuito no instagram, dando dicas de programação e carreira, e no YouTube, posto videos de
                        pequenos projetos, dicas de carreira, dicas de tecnologias, entre outros assuntos. Tudo isso
                        para tornar a programação cada vez mais acessível para todos!</p>

                </div>
            </div>
        </section>

        <section class="mt-5 section-bg" id="habilidades">

            <div class="container pb-5">
                <h2 class='pt-5'>Habilidades</h2>
                <p>Em todo tempo como profissional de tecnologia eu adquiri algumas habilidades técnicas e não técnicas,
                    a maioria delas estão aqui, de acordo com a porcentagem de conhecimento que eu acredito ter em cada
                    uma delas.</p>

                <div class="row">
                    <div class="col-md-6">
                        <p class='mt-3 mb-0'>HTML</p>
                        <div class="progress">
                            <div class="progress-bar" role="progressbar" style="width: 95%;" aria-valuenow="95"
                                data-anime="left" aria-valuemin="0" aria-valuemax="100">95%</div>
                        </div>
                        <p class="mt-3 mb-0">CSS</p>
                        <div class="progress">
                            <div class="progress-bar" data-anime="left" role="progressbar" style="width: 85%;"
                                aria-valuenow="85" aria-valuemin="0" aria-valuemax="100">85%</div>
                        </div>
                        <p class="mt-3 mb-0">JavaScript</p>
                        <div class="progress">
                            <div class="progress-bar" data-anime="left" role="progressbar" style="width: 80%;"
                                aria-valuenow="80" aria-valuemin="0" aria-valuemax="100">80%</div>
                        </div>
                        <p class="mt-3 mb-0">Python</p>
                        <div class="progress">
                            <div class="progress-bar" data-anime="left" role="progressbar" style="width: 80%;"
                                aria-valuenow="80" aria-valuemin="0" aria-valuemax="100">80%</div>
                        </div>
                        <p class="mt-3 mb-0">Java</p>
                        <div class="progress">
                            <div class="progress-bar" data-anime="left" role="progressbar" style="width: 70%;"
                                aria-valuenow="70" aria-valuemin="0" aria-valuemax="100">70%</div>
                        </div>
                        <p class="mt-3 mb-0">Git</p>
                        <div class="progress">
                            <div class="progress-bar" data-anime="left" role="progressbar" style="width: 98%;"
                                aria-valuenow="98" aria-valuemin="0" aria-valuemax="100">98%</div>
                        </div>
                        <p class="mt-3 mb-0">Deploy</p>
                        <div class="progress mb-3">
                            <div class="progress-bar" data-anime="left" role="progressbar" style="width: 70%;"
                                aria-valuenow="70" aria-valuemin="0" aria-valuemax="100">70%</div>
                        </div>
                    </div>
                    <div class="col-md-6">
                        <p class="mt-3 mb-0">Angular</p>
                        <div class="progress">
                            <div class="progress-bar" data-anime="left" role="progressbar" style="width: 80%;"
                                aria-valuenow="80" aria-valuemin="0" aria-valuemax="100">80%</div>
                        </div>
                        <p class="mt-3 mb-0">ReactJs</p>
                        <div class="progress">
                            <div class="progress-bar" data-anime="left" role="progressbar" style="width: 70%;"
                                aria-valuenow="70" aria-valuemin="0" aria-valuemax="100">70%</div>
                        </div>
                        <p class="mt-3 mb-0">NodeJs (Express)</p>
                        <div class="progress">
                            <div class="progress-bar" data-anime="left" role="progressbar" style="width: 85%;"
                                aria-valuenow="85" aria-valuemin="0" aria-valuemax="100">85%</div>
                        </div>
                        <p class="mt-3 mb-0">Flask</p>
                        <div class="progress">
                            <div class="progress-bar" data-anime="left" role="progressbar" style="width: 80%;"
                                aria-valuenow="80" aria-valuemin="0" aria-valuemax="100">80%</div>
                        </div>
                        <p class="mt-3 mb-0">Spring</p>
                        <div class="progress">
                            <div class="progress-bar" data-anime="left" role="progressbar" style="width: 70%;"
                                aria-valuenow="70" aria-valuemin="0" aria-valuemax="100">70%</div>
                        </div>
                        <p class="mt-3 mb-0">SQL</p>
                        <div class="progress">
                            <div class="progress-bar" data-anime="left" role="progressbar" style="width: 90%;"
                                aria-valuenow="90" aria-valuemin="0" aria-valuemax="100">90%</div>
                        </div>
                        <p class="mt-3 mb-0">NoSQL</p>
                        <div class="progress mb-3">
                            <div class="progress-bar" data-anime="left" role="progressbar" style="width: 75%;"
                                aria-valuenow="75" aria-valuemin="0" aria-valuemax="100">75%</div>
                        </div>
                    </div>
                </div>

                <hr class='w-50 me-auto ms-auto'>

                <div class="row">
                    <div class="col-md-6">
                        <p class="mt-3 mb-0">Trabalho em equipe</p>
                        <div class="progress">
                            <div class="progress-bar" data-anime="left" role="progressbar" style="width: 95%;"
                                aria-valuenow="95" aria-valuemin="0" aria-valuemax="100">95%</div>
                        </div>

                        <p class="mt-3 mb-0">Proatividade</p>
                        <div class="progress">
                            <div class="progress-bar" data-anime="left" role="progressbar" style="width: 98%;"
                                aria-valuenow="98" aria-valuemin="0" aria-valuemax="100">98%</div>
                        </div>

                        <p class="mt-3 mb-0">Orientação a detalhes</p>
                        <div class="progress">
                            <div class="progress-bar" data-anime="left" role="progressbar" style="width: 85%;"
                                aria-valuenow="85" aria-valuemin="0" aria-valuemax="100">85%</div>
                        </div>
                    </div>
                    <div class="col-md-6">
                        <p class="mt-3 mb-0">Comunicação</p>
                        <div class="progress">
                            <div class="progress-bar" data-anime="left" role="progressbar" style="width: 95%;"
                                aria-valuenow="95" aria-valuemin="0" aria-valuemax="100">95%</div>
                        </div>

                        <p class="mt-3 mb-0">Empatia</p>
                        <div class="progress">
                            <div class="progress-bar" data-anime="left" role="progressbar" style="width: 85%;"
                                aria-valuenow="85" aria-valuemin="0" aria-valuemax="100">85%</div>
                        </div>

                        <p class="mt-3 mb-0">Comprometimento</p>
                        <div class="progress">
                            <div class="progress-bar" data-anime="left" role="progressbar" style="width: 98%;"
                                aria-valuenow="98" aria-valuemin="0" aria-valuemax="100">98%</div>
                        </div>
                    </div>
                </div>

            </div>

        </section>

        <section class="mt-5 cv" id="curriculo">

            <div class="container pb-5">
                <h2 class="pt-3 pb-4">Currículo</h2>

                <div class="row">
                    <div class="col-md-6">
                        <h3 class="cv-title">Educação</h3>

                        <div class='cv-item' data-anime="up">
                            <h4>Esp. Docência em Ciênc. e Tec. da Info.</h4>
                            <h5>2019 - 2019</h5>
                            <p><em>Instituto Brasileiro de Formação</em></p>
                            <p>Pós-graduação voltada a área de docencia com o foco em tecnologia da informação e
                                ciências da informação, com carga horária de 480 horas</p>
                        </div>

                        <div class='cv-item' data-anime="up">
                            <h4>Bacharelado em Sistemas de Informação</h4>
                            <h5>2013 - 2016</h5>
                            <p><em>Faculdade Sumaré</em></p>
                            <p>Recebi conceitos e técnicas de informática e teoria de sistemas para contribuir na
                                solução de problemas de tratamento da informação nas organizações por meio da construção
                                de modelos de automação corporativa. </p>
                        </div>

                        <div class='cv-item' data-anime="up">
                            <h4>Técnico em Informatica</h4>
                            <h5>2010 - 2011</h5>
                            <p><em>ETEC - Escola Técnica Estadual de São Paulo</em></p>
                            <p>Curso voltado a programação de computadores e suporte técnico afim de atender a diversas
                                demandas de uma corporação, contribuindo para o crescimento e aperfeiçoamento dos
                                processos de tecnologia.</p>
                        </div>

                    </div>
                    <div class="col-md-6">
                        <h3 class="cv-title">Profissional</h3>

                        <div class='cv-item' data-anime="up">
                            <h4>Coordenador de curso</h4>
                            <h5>2021 - atual</h5>
                            <p><em>Blue EdTech</em></p>
                            <p>A Blue é uma EdTech com foco na capacitação de jovens que desejam
                                entrar para o mercado de tecnologia, oferecendo uma formação
                                completa de hard skills e soft skills.</p>
                        </div>

                        <div class='cv-item' data-anime="up">
                            <h4>Professor de programação</h4>
                            <h5>2020 - 2021</h5>
                            <p><em>Generation Brasil</em></p>
                            <p>Instrutor de desenvolvimento Web Full Stack. Utilizando Angular no front-end,
                                Java e Spring Boot no back-end, MySQL no banco de dados e deploy com
                                Docker. </p>
                        </div>

                        <div class='cv-item' data-anime="up">
                            <h4>Instrutor de informática</h4>
                            <h5>2018 - 2019</h5>
                            <p><em>Instituto da Oportunidade Social</em></p>
                            <p>Instrutor de computação básica profissionalizante, com módulos de sistema
                                operacional, pacote office e internet, focando principalmente no Excel.</p>
                        </div>
                    </div>
                </div>
            </div>

        </section>

        <section id="portfolio" class="section-bg mt-5">
            <div class="container pb-5 pt-5" data-anime="left">

                <h2 class="pb-4">Portfólio</h2>

                <div id="carouselPortfolio" class="carousel carousel-dark slide" data-bs-ride="carousel">
                    <div class="carousel-indicators">
                        <button type="button" data-bs-target="#carouselPortfolio" data-bs-slide-to="0" class="active"
                            aria-current="true" aria-label="Slide 1"></button>
                        <button type="button" data-bs-target="#carouselPortfolio" data-bs-slide-to="1"
                            aria-label="Slide 2"></button>
                    </div>
                    <div class="carousel-inner">
                        <div class="carousel-item active" data-bs-interval="10000">

                            <div class="row row-cols-1 row-cols-md-3 g-4">
                                <div class="col">
                                    <div class="card">
                                        <img src="../static/img/plataforma-gen.png" class="card-img-top"
                                            alt="Plataforma educacional">
                                        <div class="card-body">
                                            <h5 class="card-title">Plataforma educacional</h5>
                                            <p class="card-text">Projeto fullstack criado com MySQL, Spring e Angular,
                                                acesso restrito, apenas pessoas autorizadas</p>
                                            <div class="d-flex justify-content-center">
                                                <a href="http://generationbrasil.online/#/login" target='_blank'
                                                    class="btn btn-outline-primary"><i class="bi bi-link-45deg"></i></a>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="col">
                                    <div class="card">
                                        <img src="../static/img/blog.png" class="card-img-top img-fluid w-100"
                                            alt="print do blog">
                                        <div class="card-body">
                                            <h5 class="card-title">Blog Pessoal</h5>
                                            <p class="card-text">Projeto fullstack criado com MySQL, Spring e Angular,
                                                deploy realizado no Heroku e no Netlify</p>
                                            <div class="d-flex justify-content-center">
                                                <a href="https://github.com/codethi/blogPessoal-front-back"
                                                    target='_blank' class="btn btn-outline-dark me-3"><i
                                                        class="bi bi-github"></i></a>
                                                <a href="https://newbloggen.netlify.app/#/login" target='_blank'
                                                    class="btn btn-outline-primary"><i class="bi bi-link-45deg"></i></a>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="col">
                                    <div class="card">
                                        <img src="../static/img/pokedex.png" class="card-img-top img-fluid w-100"
                                            alt="print do blog">
                                        <div class="card-body">
                                            <h5 class="card-title">Pokedéx</h5>
                                            <p class="card-text">Projeto fullstack criado com PostegreSQL, Flask, HTML,
                                                CSS e JavaScript, deploy realizado no Heroku</p>
                                            <div class="d-flex justify-content-center">
                                                <a href="https://github.com/codethi/pokedex-flask" target='_blank'
                                                    class="btn btn-outline-dark me-3"><i class="bi bi-github"></i></a>
                                                <a href="https://pokedex-thicode.herokuapp.com/" target='_blank'
                                                    class="btn btn-outline-primary"><i class="bi bi-link-45deg"></i></a>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>

                        </div>

                        <div class="carousel-item" data-bs-interval="2000">
                            <div class="row row-cols-1 row-cols-md-3 g-4">
                                <div class="col">
                                    <div class="card h-100">
                                        <img src="../static/img/bluesmusic.png" class="card-img-top img-fluid w-100"
                                            alt="print do blog">
                                        <div class="card-body">
                                            <h5 class="card-title">Blue Music</h5>
                                            <p class="card-text">Projeto fullstack criado com SQLite, Flask, HTML, CSS e
                                                JavaScript,
                                                deploy realizado no Heroku</p>
                                            <div class="d-flex justify-content-center">
                                                <a href="https://github.com/codethi/BlueMusicV2" target='_blank'
                                                    class="btn btn-outline-dark me-3"><i class="bi bi-github"></i></a>
                                                <a href="https://appbluemusic.herokuapp.com/" target='_blank'
                                                    class="btn btn-outline-primary"><i class="bi bi-link-45deg"></i></a>
                                            </div>

                                        </div>
                                    </div>
                                </div>
                                <div class="col">
                                    <div class="card h-100">
                                        <img src="../static/img/timer.png" class="card-img-top img-fluid w-100"
                                            alt="print do blog">
                                        <div class="card-body">
                                            <h5 class="card-title">Timer</h5>
                                            <p class="card-text">Projeto front-end criado com HTML, CSS, Bootstrap e
                                                JavaScript,
                                                deploy realizado no Netlify</p>
                                            <div class="d-flex justify-content-center">
                                                <a href="https://github.com/codethi/cronometro-intervalo"
                                                    target='_blank' class="btn btn-outline-dark me-3"><i
                                                        class="bi bi-github"></i></a>
                                                <a href="https://timer-break.netlify.app/" target='_blank'
                                                    class="btn btn-outline-primary"><i class="bi bi-link-45deg"></i></a>
                                            </div>

                                        </div>
                                    </div>
                                </div>
                                <div class="col">
                                    <div class="card h-100">
                                        <img src="../static/img/pagina-links.png" class="card-img-top img-fluid w-100"
                                            alt="print do blog">
                                        <div class="card-body">
                                            <h5 class="card-title">Página de Links</h5>
                                            <p class="card-text">Projeto front-end criado com HTML, CSS, Bootstrap e
                                                JavaScript,
                                                deploy realizado no Netlify</p>
                                            <div class="d-flex justify-content-center">
                                                <a href="https://github.com/codethi/thi.code" target='_blank'
                                                    class="btn btn-outline-dark me-3"><i class="bi bi-github"></i></a>
                                                <a href="https://thicode.netlify.app/" target='_blank'
                                                    class="btn btn-outline-primary"><i class="bi bi-link-45deg"></i></a>
                                            </div>

                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>

                    </div>
                    <button class="carousel-control-prev" type="button" data-bs-target="#carouselPortfolio"
                        data-bs-slide="prev">
                        <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                        <span class="visually-hidden">Previous</span>
                    </button>
                    <button class="carousel-control-next" type="button" data-bs-target="#carouselPortfolio"
                        data-bs-slide="next">
                        <span class="carousel-control-next-icon" aria-hidden="true"></span>
                        <span class="visually-hidden">Next</span>
                    </button>
                </div>

            </div>
        </section>

        <section class="pt-5 pb-5" id="contato">

            <div class="container mb-5">
                <h2 class='pt-3 pb-3'>Contato</h2>

                <div class="row">

                    <div class="col-md-5">
                        <div class="card p-5 shadow border-0" data-anime="up">
                            <div class="endereco">
                                <h4><i class="bi bi-geo-alt"></i> Localização:</h4>
                                <p>São Bernardo do Campo, SP</p>
                            </div>

                            <div class="email">
                                <h4><i class="bi bi-envelope"></i> Email:</h4>
                                <p>docencia.thiago@gmail.com</p>
                            </div>

                            <iframe
                                src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3654.0602062854546!2d-46.55922744119819!3d-23.673804835210053!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x94ce4307634be811%3A0xf6bad5e9058a3ead!2sAv.%20Senador%20Vergueiro%20-%20S%C3%A3o%20Bernardo%20do%20Campo%2C%20SP!5e0!3m2!1spt-BR!2sbr!4v1630183618134!5m2!1spt-BR!2sbr"
                                width="400" height="300" style="border:0;" allowfullscreen="" loading="lazy"
                                class='w-100'></iframe>
                        </div>
                    </div>

                    <div class="col-md-7 mt-5 mt-md-0">
                        <div class="card p-5 h-100 shadow border-0" data-anime="left">

                            <form class="row g-3" action='/send' method="POST">
                                <div class="col-md-6">
                                    <label for="nome" class="form-label">Nome:</label>
                                    <input type="text" class="form-control" id="nome" name='nome'
                                        placeholder='Digite seu nome' required>
                                </div>
                                <div class="col-md-6">
                                    <label for="email" class="form-label">Email:</label>
                                    <input type="email" class="form-control" id="email" name='email'
                                        placeholder='Digite seu email' required>
                                </div>

                                <div class="col-12">
                                    <label for="mensagem" class="form-label">Mensagem:</label>
                                    <textarea type="text" class="form-control" id="mensagem" name='mensagem' rows="10"
                                        placeholder="Digite sua mensagem" required></textarea>
                                </div>


                                <div class="col-12 d-flex justify-content-center mt-4">
                                    <button id='btn-enviar' type="submit" class="btn btn-primary">Enviar
                                        mensagem</button>

                                    <button id='btn-enviar-loader' class="btn btn-primary" type="button" disabled>
                                        <span class="spinner-border spinner-border-sm" role="status"
                                            aria-hidden="true"></span>
                                        Enviando...
                                    </button>
                                </div>
                            </form>

                        </div>
                    </div>

                </div>
            </div>

        </section>


        {% with messages = get_flashed_messages() %}
        {% if messages %}
        {% for message in messages %}
        <div id="alerta" class="alert alert-success alert-dismissible fade show" role="alert">
            <i class="bi bi-check-circle-fill"></i> {{ message }}
            <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
        </div>
        {% endfor %}
        {% endif %}
        {% endwith %}
    </main>

    <footer id="footer">
        <div class="container">
            <div class="text-center">
                &copy; Copyright <strong>Thi Code</strong>
            </div>
        </div>
    </footer>

    <script src="../static/bootstrap/js/bootstrap.bundle.min.js"></script>
    <script src="../static/script.js"></script>
</body>

</html>